/* Add your custom extension styling here */
.custom-menu-item {
    spacing: 0px;
    
}
.password-entry {
    width: 150px;
    height: 16px;
    color: black;
}
.copy-button.button {   
    padding: 1px;
    width: 50px;
}

.menu-item-button.button {
    width: 75px;
}

.save-dialog.modal-dialog-content-box {
    spacing: 0;
    padding: 0;
    margin: 0;
} 

.save-dialog-button.button {
    width: 75px;
}

